<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pb92.snapshotmeter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	 
	<permission android:protectionLevel="signature"
	    android:name="de.pb92.snapshotmeter.permission.C2D_MESSAGE" />
	<uses-permission android:name="de.pb92.snapshotmeter.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".SnapshotMeter"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraSnapshot"
            android:label="@string/title_activity_camera_snapshot" >
        </activity>
        <activity
            android:name=".MeterDetail"
            android:label="@string/title_activity_meter_detail" >
        </activity>
        <activity
            android:name=".MeterAdd"
            android:label="@string/title_activity_meter_add" >
        </activity>
        <activity
            android:name=".MeterReadingOverview"
            android:label="@string/title_activity_meter_reading_overview" >
        </activity>
        <activity
            android:name=".MeterChange"
            android:label="@string/title_activity_meter_change" >
        </activity>
        <activity
            android:name=".MeterReadingQuick"
            android:label="@string/title_activity_meter_reading_quick" >
        </activity>
        <activity
            android:name=".MeterReading"
            android:label="@string/title_activity_meter_reading" >
        </activity>
        <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND">
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		 
		    <!--
		      IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
		    -->
		    <category android:name="com.parse.tutorials.pushnotifications" />
		  </intent-filter>
		</receiver>
		<receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
		  <intent-filter>
		    <action android:name="com.parse.push.intent.RECEIVE" />
		    <action android:name="com.parse.push.intent.DELETE" />
		    <action android:name="com.parse.push.intent.OPEN" />
		  </intent-filter>
		</receiver>
    </application>

</manifest>
